body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}
.search-field {
  border: none;
  border-radius: 50px;
  padding: 5px;
  outline: none;
  font-size: 17px;
  padding-left: 25px;
}

h2{
  color: #134804;
}
h3{
  color: #04276d;
  font-weight: 600;
 }
 h4{
   color: #b08500;
 }
 .category{
  color: #21218c;
 }
.search-field:hover {
  outline: none;
  border: none;
}
.search-box {
  border: 1px solid rgb(3, 118, 211);
  width: 400px;
  border-radius: 5px;
  margin: auto;
  margin-top: 50px;
  border-right: none;
  display: flex;
  border-radius: 50px;
  justify-content: space-between;
}
#search-btn{
  border-radius: 0 25px 25px 0;
  border-right: 1px solid rgb(3, 118, 211);
}
.search-button {
  padding: 6px 12px;
  border-radius: 6px;
  background-color: #03a9f4;
  color: white;
  font-size: 17px;
  outline: none;
  border: none;
}
.search-button:hover{
  background-color: #0888c4;
  color: white!important;
}
tbody{
  font-size: 17px;
}
#details-btn{
  background-color: #ac2925;
  
}
#details-btn:hover{
  background-color: #810c08;
}
.button-group{
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}
.products-area{
  margin-top:70px;
}
#all-products {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(3, 1fr);
  /* border: 1px solid black; */
  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.single-product {
  padding: 10px;
  transition: 0.6s;
  box-shadow: 0px 0px 10px -5px #03a9f4;
  padding: 20px;
  min-height: 500px;
  border-radius: 20px;
}
.single-product:hover {
  box-shadow: 0px 0px 20px -3px #0888c4;
  border-radius: 10px;
  /* border: 1px solid cyan; */
}
.product-image {
  width: 150px;
  height: 150px;
}
.cart {
  width: 350px;
  /* border: 1px solid green; */
  padding: 10px;
  box-shadow: 7px 7px 10px #0888c43d;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
}
.cart-main {
  padding-right: 30px;
}
@media only screen and (max-width: 1280px) {

  #all-products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }







}


@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
